kind: Deployment
apiVersion: apps/v1
metadata:
  name: get-a-username
  labels:
    app: get-a-username
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: get-a-username
  template:
    metadata:
      labels:
        deployment: get-a-username
    spec:
      containers:
        - name: get-a-username
          image: 'quay.io/openshiftlabs/username-distribution:latest'
          ports:
            - containerPort: 8080
              protocol: TCP
          env:
            - name: LAB_ADMIN_PASS
              value: MjUzOTU5
            - name: LAB_DURATION_HOURS
              value: 1week
            - name: LAB_EXTRA_URLS
              value: 'https://console-openshift-console.apps.mycluster.com;OpenShift Console,https://devspaces.apps.mycluster.com;OpenShift Dev Spaces'
            - name: LAB_MODULE_URLS
              value: 'https://module1.apps.mycluster.com/m1/main/introduction.html?USERID=%USERNAME%&SUBDOMAIN=apps.mycluster.com;Module 1,https://module2.apps.mycluster.com/m1/main/introduction.html?USERID=%USERNAME%&SUBDOMAIN=apps.mycluster.com;Module 2,https://module3.apps.mycluster.com/m1/main/introduction.html?USERID=%USERNAME%&SUBDOMAIN=apps.mycluster.com;Module 3'
            - name: LAB_REDIS_HOST
              value: redis
            - name: LAB_REDIS_PASS
              value: redis
            - name: LAB_TITLE
              value: My Workshop
            - name: LAB_USER_ACCESS_TOKEN
              value: openshift
            - name: LAB_USER_COUNT
              value: '15'
            - name: LAB_USER_PAD_ZERO
              value: 'false'
            - name: LAB_USER_PASS
              value: openshift
            - name: LAB_USER_PREFIX
              value: user
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
          imagePullPolicy: IfNotPresent
